header {
    height: 150px;
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-size: 40%;
}

#logo {
    height: 50%;
    margin-top: 70px;
    margin-left: 10px;
}

h1 {
    margin-bottom: 0;
    margin-top: 10px;
}

.nomargin {
    margin-bottom: 0;
    margin-top: 0;
}

.greytext {
    color: grey;
}

span {
    color: #27ACE6;
}
 
section img {
    margin-top: 10px;
    margin-left: 0;
}

.small {
    font-size: smaller;
}