/* Sezione Banner */
header, main, footer {
    width: 600px;
}

header {
    height: 100px;
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-size: 65%;
}

#logo {
    height: 40%;
    margin-top: 50px;
    margin-left: 10px;
}

/* Sezione Titolo */

h1 {
    margin-bottom: 0;
    margin-top: 10px;
}

.nomargin {
    margin-bottom: 0;
    margin-top: 0;
}

.greytext {
    color: grey;
}

span {
    color: #27ACE6;
}
 
/* Sezione Immagini */
section img {
    margin-top: 10px;
    margin-left: 0;
    height: 200px;
}

.small {
    font-size: 10px;
}

/* Sezione Testo Articolo */
.textarticle, li {
    font-size: 12px;
}

ul {
    padding-inline-start: 10px;
}

/* Sezione Tabella */
table {
    width: 100%;
}

thead {
    background-color: #20A9E5;
    color: white;
    text-align: left;
}

td, th {
  width: 150px;
} 
 
.backgroundazzurro {
    background-color: #B2E5F2;
}

/* Sezione footer */
.imgbox {
    height: 150px;
    width: 200px;
    border: 1px solid black;
}

#monitor {
    background-image: url(../img/monitor.jpg);
    background-size: cover;
    margin-bottom: 10px;
}

.whitetext {
    color: white;
    margin: 10px;
}

#graph {
    background-image: url(../img/graph.jpg);
    background-size: cover;
}